In [2]:
# Import the required libraries
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
import pandas as pd

In [4]:
train = pd.read_csv(r'train.csv')
test = pd.read_csv(r'test.csv')

In [5]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [13]:
sum(train['keyword'].isna())

61

In [11]:
train.isna().mean()

id          0.000000
keyword     0.000000
location    0.327331
text        0.000000
target      0.000000
dtype: float64

In [7]:
len(train)

7613

In [23]:
train = train.dropna(subset=['keyword'])

In [10]:
sum(train['location'].isna())

2472

In [24]:
print(train['location'][train['location'].notna()].iloc[0])

Birmingham

In [24]:
y_train = train['target']
x_train = train.iloc[:, 1:]

In [25]:
train['location'].str.split(pat=',|-', regex=True, expand= True)

                         0         1     2     3     4     5
31              Birmingham      None  None  None  None  None
32    Est. September 2012    Bristol  None  None  None  None
33                  AFRICA      None  None  None  None  None
34            Philadelphia        PA  None  None  None  None
35                  London        UK  None  None  None  None
...                    ...       ...   ...   ...   ...   ...
7578                   NaN       NaN   NaN   NaN   NaN   NaN
7579             Vancouver    Canada  None  None  None  None
7580               London       None  None  None  None  None
7581               Lincoln      None  None  None  None  None
7582                   NaN       NaN   NaN   NaN   NaN   NaN

[7552 rows x 6 columns]

In [26]:
x_train.head

<bound method NDFrame.head of       keyword                       location  \
31     ablaze                     Birmingham
32     ablaze  Est. September 2012 - Bristol
33     ablaze                         AFRICA
34     ablaze               Philadelphia, PA
35     ablaze                     London, UK
...       ...                            ...
7578  wrecked                            NaN
7579  wrecked              Vancouver, Canada
7580  wrecked                        London
7581  wrecked                        Lincoln
7582  wrecked                            NaN

                                                   text
31    @bbcmtd Wholesale Markets ablaze http://t.co/l...
32    We always try to bring the heavy. #metal #RT h...
33    #AFRICANBAZE: Breaking news:Nigeria flag set a...
34                   Crying out for more! Set me ablaze
35    On plus side LOOK AT THE SKY LAST NIGHT IT WAS...
...                                                 ...
7578   @jt_ruff23 @cameronhacker and I wrecked you both
7579  Three days off from work and they've pretty mu...
7580  #FX #forex #trading Cramer: Iger's 3 words tha...
7581  @engineshed Great atmosphere at the British Li...
7582  Cramer: Iger's 3 words that wrecked Disney's s...

[7552 rows x 3 columns]>

In [34]:
blah=pd.DataFrame()
blah['target']=train['target']

In [35]:
blah['hashtag'] = x_train['text'].str.contains('#')

In [36]:
blah.head()

    target  hashtag
31       1    False
32       0     True
33       1     True
34       0    False
35       0    False

In [37]:
blah.corr()

           target   hashtag
target   1.000000  0.070573
hashtag  0.070573  1.000000

In [37]:
x_train.apply(lambda x: x.location in x.text, axis=1)

TypeError: 'in <string>' requires string as left operand, not float

In [ ]:
# Create a pipeline for the classifier
clf = Pipeline([
    ('vect', CountVectorizer()), 
    ('clf', MultinomialNB())
])

# Train the classifier
clf.fit(X_train, y_train)

# Test the classifier3
test_data = ["This movie is great", "I don't like this movie"]
predicted = clf.predict(test_data)

# Print the predictions
for text, pred in zip(test_data, predicted):
    print(f"{text} - {pred}")