In [1]:
import pandas as pd
import seaborn as sns

In [2]:
train = pd.read_csv("final_train.csv")

In [3]:
train

,Survived,Age,Fare,TravelAlone,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_male,IsMinor
0,0,22.0,7.2500,0,0,0,1,0,0,1,1,0
1,1,38.0,71.2833,0,1,0,0,1,0,0,0,0
2,1,26.0,7.9250,1,0,0,1,0,0,1,0,0
3,1,35.0,53.1000,0,1,0,0,0,0,1,0,0
4,0,35.0,8.0500,1,0,0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,27.0,13.0000,1,0,1,0,0,0,1,1,0
887,1,19.0,30.0000,1,1,0,0,0,0,1,0,0
888,0,28.0,23.4500,0,0,0,1,0,0,1,0,0
889,1,26.0,30.0000,1,1,0,0,1,0,0,1,0
890,0,32.0,7.7500,1,0,0,1,0,1,0,1,0

## EDA

- ticket it could be a family feature
- lower ages seem to be more prone to survive
- fare, class and sex seem to be good predictors

In [ ]:
train.sample(10).T

In [ ]:
(train[train['Ticket'].duplicated(keep=False)].sort_values(by='Ticket'))

In [ ]:
train.sample(10).T

In [ ]:
pd.crosstab(train['Survived'], 
            train['Embarked'], 
            normalize='index')

In [ ]:
sns.displot(data=train,
            x='Fare', 
#             y='Survived',
            hue='Survived',
            kind='kde')

In [ ]:
sns.violinplot(data=train, 
               x="Pclass", 
               y="Age", 
               hue="Survived",
               split=True);

In [ ]:
train.pivot_table(index='Pclass', 
                  columns='Survived', 
                  aggfunc='size')

In [ ]:
train.pivot_table(index='Sex', 
                  columns='Survived', 
                  aggfunc='size')

In [ ]:
train['Cabin'].value_counts(normalize=True)

In [ ]:
cabin = train['Cabin'].str.split(expand=True).apply(lambda s: s.str.slice(stop=1))[1].squeeze()

In [ ]:
train.shape

In [ ]:
train['Survived'].value_counts()

In [ ]:
train['Age'].nlargest(40)